@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

.background-requests {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(231, 235, 240);
}

.banner-requests {
  background: linear-gradient(90deg, #732d40 0%, #a87d89 100%);
  /* background: linear-gradient(90deg, #a87d89 0%, #732d40 100%); */
  position: absolute;
  top: 0rem;
  height: 22vh;
  min-width: 100vw;
}

.person-background {
  position: absolute;
  right: 0rem;
  top: 0rem;
}

/* @media all and (max-height: 620px) {
  .table-container-requests {
    display: none;
  }
} */
@media all and (max-width: 1100px) {
  .table-container-requests {
    display: none;
  }
}

/* 900px and above 900px height */
@media all and (min-height: 900px) {
  .banner-requests {
    height: 19.5vh !important;
  }
  .banner-requests img {
    height: 22vh !important;
  }
  .table-container-requests {
    left: 17% !important;
  }
}
.banner-requests img {
  height: 23vh;
}
.table-container-requests {
  width: max-content;
  height: max-content;
  z-index: 1;

  position: absolute;
  top: 15%;
  left: 20%;
}
